.particles {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  //background: linear-gradient(135deg, #ee383d 0%, #ffcc5d 100%);
  //background-color: transparent;
}